<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="myket-iab-cordova-plugin"
    version="3.0.2">

    <name>Android InAppBilling</name>
    <description>Use this In-app Billing plugin to sell digital goods, including one-time items and recurring subscriptions from your Cordova application.</description>
    
    <author>Guillaume Charhon - Smart Mobile Software,Hadi Lashkari Ghouchani - Myket</author>
    <keywords>myket,billing,in-app,inapp,purchase,credit</keywords>
    <license>MIT</license>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
	
    <!-- android -->
    <platform name="android">

        <js-module src="www/inappbilling.js" name="InAppBillingPlugin">
            <clobbers target="inappbilling" />
        </js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- InApp Billing -->
            <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
        </config-file>

        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InAppBillingPlugin">   
                    <param name="android-package" value="ir.myket.example.iab.InAppBillingPlugin"/>
            </feature>
        </config-file>

        <!-- cordova plugin src files -->
        <source-file src="src/ir/myket/example/iab/InAppBillingPlugin.java" target-dir="src/ir.bazaar.miladesign" />
        <source-file src="src/ir/myket/example/iab/Action.java" target-dir="src/ir.bazaar.miladesign" />

	<source-file src="src/com/MdBazaar.jar" target-dir="libs" />
        
    </platform>
</plugin>
